<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbox</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyL4I+uUeTA7kEh8I/DV1nF9bCJsCUh5Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chatbox.css') }}">
</head>
<body>

  <div class="container">
    <div class="chatbox">
      <ul class="messages" id="messages">
        <!-- Mesajlar burada dinamik olarak eklenir -->
      </ul>
      <div class="input-box input-group mb-3">
        <input type="text" id="userInput" placeholder="Sorunuzu buraya yazın...">
        <button onclick="sendMessage()">Gönder</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-dJhZAdLlPQ5I2G/AUmvHeKUmR8i0J5vppBOwF6cY15HIZR8DnD6boyoOmmNDcQ1W" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='chatbox.js') }}"></script>

  

</body>

</html>
