<!DOCTYPE html>
<html lang="tr">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Rivehold - Eğitimdeki kurtarıcınız</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <header>
        <h1>Rivehold<br><span>Eğitimdeki kurtarıcınız, süper kahramanınız...</span></h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="tutor">Bota git</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <section id="about">
            <h2>Rivehold</h2>
            <p> Yapay zekada çocukları hedef alıyoruz. Eğitimi yapay zeka ile birleştiren uygulama.</p>
        </section>
        <section id="demo">
            <h2>Riveholdu Demo</h2>
            <a href="#" class="btn btn-primary">Riveholdu Demo sürümünü deneyiniz. &raquo;</a>
        </section>
        <section id="lessons" class="d-flex justify-content-around">
            <div class="lesson bg-gradient-blue rounded-hard shadow p-3 mb-5">
                <h3>Matematik</h3>
                <p>Açıklama ve detaylar...</p>
                <a href="#" class="btn btn-light">Detaylı Bilgi</a>
            </div>
            <div class="lesson bg-gradient-yellow rounded-hard shadow p-3 mb-5">
                <h3>Biyoloji</h3>
                <p>Açıklama ve detaylar...</p>
                <a href="#" class="btn btn-light">Detaylı Bilgi</a>
            </div>
            <div class="lesson bg-gradient-red rounded-hard shadow p-3 mb-5">
                <h3>İngilizce</h3>
                <p>Açıklama ve detaylar...</p>
                <a href="#" class="btn btn-light">Detaylı Bilgi</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Rivehold</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>