<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pricing Cards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='paket.css') }}">

</head>

<body>
    
    <div class="pricing-container">
      <article class="pricing-card">
        <h3>Basit</h3>
        <div>
          Basit Düzey
        </div>
        <div class="pricing-card__price--original">
          <s>₺59.99</s>
        </div>
        <div class="pricing-card__price">
          ₺54.99
        </div>
        <div class="period">
          / ay
        </div>
        <ul>
          <li>İçerik ve kaynaklara temel erişim.</li>
          <li>48 saatlik yanıt süresiyle e-posta desteği.</li>
          <li>Eşler arası destek için topluluk forumlarına erişim.</li>
          <li>Güncellemeler ve ipuçları içeren aylık bülten.</li>
          <li>Standart araçlara ve özelliklere sınırlı erişim.</li>
        </ul>
        <a class="enroll" href="#">
          Basit Düzey Seç
        </a>
      </article>
      <article class="pricing-card">
        <h3>Orta </h3>
        <div>
          Orta Düzey
        </div>
        <div class="pricing-card__price--original">
          <s>₺112.00</s>
        </div>
        <div class="pricing-card__price">
          ₺69.99
        </div>
        <div class="period">
          / ay
        </div>
        <ul>
          <li>Basit Düzey'in tüm özellikleri.</li>
          <li>24 saatlik yanıt süresiyle öncelikli e-posta desteği.</li>
          <li>Özel web seminerlerine ve çevrimiçi etkinliklere erişim.</li>
          <li> Analitik dahil gelişmiş araçlar ve özellikler.</li>
          <li> Kullanıcı tercihlerine göre özelleştirilebilir içerik deneyimi. </li>
        </ul>
        <a class="enroll" href="#">
          Orta Düzey Seç
        </a>
      </article>
        
        <article class="pricing-card pricing-card--primary">
          <div class="pricing-card__banner">
            Popüler Olan
          </div>
          <h3>Pro</h3>
          <div>
            Profesyonel Düzey
          </div>
          <div class="pricing-card__price--original">
            <s>₺125.00</s>
          </div>
          <div class="pricing-card__price">
            ₺94.99
          </div>
          <div class="period">
            / ay
          </div>
          <ul>
            <li>Orta Düzey'in tüm özellikleri.</li>
            <li>Kişiselleştirilmiş yardım için özel hesap yöneticisi.</li>
            <li>Yeni özelliklere ve beta programlara erken erişim.</li>
            <li>Gelişmiş analizler ve ayrıntılı raporlar.</li>
            <li>Anında sohbet desteğiyle yüksek öncelikli müşteri hizmetleri.</li>
          </ul>
          <a class="enroll" href="#">
             Profesyonel Seç
          </a>
        </article>

    </div>
</body>

</html>